target=result/bin/xfpt
args=poc
main=main
tag=sinkgen
tag=sourcegen
p=compose:sourcegen
sourcegen:compose-p=autosource
autosource-source-stubs=read_nextline:bytes_to_buf(ret,retval,ret<strlen<gdb<@ret>>>,input,controlled)
sourcegen:compose-c=compose:sinkgen
sinkgen:compose-p=cfhautosink
cfhautosink-byte-split
sinkgen:compose-c=symbolic
symbolic-src-bytes=input <4>:61-68;input <0>;input <1>;input <2>;input <3>;input <5>
symbolic-p=WeakControl;NotStrongControl;Count;S&S
sns-constr=nnb
sns-l=10
