config=config/poppler_pdf_fuzzer.config
compose-c=oobcapa
symbolic-cw=malloc@plt;calloc@plt;free@plt;realloc@plt;malloc;calloc;free;realloc;_IO_printf;printf@plt;_IO_puts;puts@plt;BIO_printf
symbolic-src-bytes=fuzzer_input <0>:741-744,891-898
args=repros/PDF019
oobcheck-dont-check-locals
symbolic-crwa
ssinks=<Detection_0_>
sos=<Detection_0>
oobcapa-sd=0
