config=config/poppler_pdf_fuzzer.config
compose-c=bytedep;oobcapa
symbolic-cw=malloc@plt;calloc@plt;free@plt;realloc@plt;malloc;calloc;free;realloc;_IO_printf;printf@plt;_IO_puts;puts@plt;BIO_printf
args=repros/PDF010
symbolic-dry
oobcheck-dont-check-locals
ssinks=<Detection_0_>
sos=<Detection_0>
oobcapa-sd=0
