config=config/poppler_pdfimages.config
compose-c=bytedep;oobcapa
symbolic-cw=malloc@plt;calloc@plt;free@plt;realloc@plt;malloc;calloc;free;realloc;_IO_printf;printf@plt;_IO_puts;puts@plt;BIO_printf
symbolic-dry
args=repros/PDF003 /tmp/out
ssinks=<Detection_0_>
sos=<Detection_0>
oobcapa-sd=0
oobcheck-cloif=_ZN14ImageOutputDev14writeImageFileEP9ImgWriterNS_11ImageFormatEPKcP6StreamiiP16GfxImageColorMap;_ZN16GfxImageColorMap7getGrayEPKhPi
