target=result/bin/poppler_pdfimages.run
main=main
p=compose
compose-p="autosource;oobautosink"
autosource-source-stubs=_ZNK7GooFile4readEPcix:bytes_to_buf(ret,1,retval,GooFile.read,controlled/string)
oobautosink-split-data
oobcheck-dont-check=__strcasecmp_avx2;__strcmp_avx2;__strlen_avx2;__strncasecmp_avx2;qsort@plt;strncasecmp@plt;memcmp@plt;__memcmp_avx2_movbe;__strncmp_avx2;__strchr_avx2
