config=config/openssl_x509.config
compose-c=bytedep;oobcapa
symbolic-cw=malloc@plt;calloc@plt;free@plt;realloc@plt;malloc;calloc;free;realloc;_IO_printf;printf@plt;_IO_puts;puts@plt
symbolic-src-bytes=fuzzer_input <0>:11,14,26,37,45,50,58,63,85,90,103,108,133,148,169,174,182,187,209,214,227,232,253-254,258,269,272-273,554,559,563,587,592,618,628,666,706,716
oobautosink-dl=8
args=repros/SSL009
oobcheck-dont-check-locals
symbolic-crwa
ssinks=<Detection_0_>
sos=<Detection_0>
oobcapa-sd=0
