config=config/openssl_asn1.config
compose-c=bytedep;oobcapa
symbolic-cw=malloc@plt;calloc@plt;free@plt;realloc@plt;malloc;calloc;free;realloc;_IO_printf;printf@plt;_IO_puts;puts@plt;BIO_printf
symbolic-src-bytes=fuzzer_input <0>:5,10,13,21,25,29,31,81
args=repros/SSL001
oobcheck-dont-check-locals
symbolic-crwa
ssinks=<Detection_[07]_>
sos=<Detection_7_OOB_write_wdata>
oobcapa-sd=0;7
