config=config/openssl_client.config
compose-c=oobcapa
symbolic-cw=malloc@plt;calloc@plt;free@plt;realloc@plt;malloc;calloc;free;realloc;_IO_printf;printf@plt;_IO_puts;puts@plt
symbolic-src-bytes=fuzzer_input <0>:3-8,100-108
oobautosink-dl=8
args=repros/SSL002
oobcheck-dont-check-locals
ssinks=<Detection_0_>
sos=<Detection_0_OOB_write_wdata>
oobcapa-sd=0
