config=config/libtiff_tiff_read_rgba_fuzzer.config
compose-c=bytedep;oobcapa
symbolic-cw=malloc@plt;calloc@plt;free@plt;realloc@plt;malloc;calloc;free;realloc;_IO_printf;printf@plt;_IO_puts;puts@plt
symbolic-src-bytes=fuzzer_input <0>:108-109,115-118,120-121,132-133,204-205,216-217,276-277
oobautosink-dl=8
args=repros/TIF001
oobcheck-dont-check-locals
ssinks=<Detection_[02]_>
sos=<Detection_2_OOB_write_wdata>
oobcapa-sd=0;2
