config=config/libtiff_tiff_read_rgba_fuzzer.config
compose-c=bytedep;oobcapa
symbolic-cw=malloc@plt;calloc@plt;free@plt;realloc@plt;malloc;calloc;free;realloc;_IO_printf;printf@plt;_IO_puts;puts@plt
symbolic-src-bytes=fuzzer_input <0>:1,108-109,132-133
oobautosink-dl=8
args=repros/TIF008
oobcheck-dont-check-locals
symbolic-crwa
ssinks=<Detection_[01]_>
sos=<Detection_1>
oobcapa-sd=0;1
