config=config/libxml2_read_memory_fuzzer.config
compose-c=bytedep;oobcapa
symbolic-cw=malloc@plt;calloc@plt;free@plt;realloc@plt;malloc;calloc;free;realloc;_IO_printf;printf@plt;_IO_puts;puts@plt
symbolic-dry
args=repros/XML012
oobcheck-dont-check-locals
oobautosink-dl=8
ssinks=<Detection_0_>
sos=<Detection_0>
oobcapa-sd=0
