config=config/libxml2_xmllint.config
compose-c=bytedep;oobcapa
symbolic-cw=malloc@plt;calloc@plt;free@plt;realloc@plt;malloc;calloc;free;realloc;_IO_printf;printf@plt;_IO_puts;puts@plt
symbolic-src-bytes=xzread <0>:783-791;xzread <1>:;xzread <2>:
args=--valid repros/XML001
oobautosink-dl=8
symbolic-crwa
ssinks=<Detection_0_>
sos=<Detection_0_OOB_write_wdata>
oobcapa-sd=0
oobcheck-cloif=xmlSnprintfElementContent;xmlValidateElementContent
