target=heartbleed/result/openssl
args=s_server -accept 8080 -cert ./heartbleed/cert.pem -key ./heartbleed/key.pem -pass pass:foobar
p=compose
compose-p=autosource;autosink
autosource-source-stubs=ssl3_read_n:bytes_to_buf(ret,ret<gdb<(char*)s->packet>>,ret<gdb<(size_t)s->packet_length>>,incoming_packet,controlled)
autosink-sink-stubs=ssl3_write_bytes:buf(entry,2,3,outgoing_packet)
compose-c=bytedep;symbolic
bytedep-drop-taint=<CRYPTO.*>;<RAND.*>;<RSA.*>
symbolic-cw=malloc;free;puts;printf;_IO_puts;<CRYPTO.*>;<RAND.*>;<RSA.*>;<SHA.*>
symbolic-src-bytes=incoming_packet <21>:6-7;incoming_packet <1>:225-232;incoming_packet <0>;incoming_packet <2>;incoming_packet <3>;incoming_packet <4>;incoming_packet <5>;incoming_packet <6>;incoming_packet <7>;incoming_packet <8>;incoming_packet <9>;incoming_packet <10>;incoming_packet <11>;incoming_packet <12>;incoming_packet <13>;incoming_packet <14>;incoming_packet <15>;incoming_packet <16>;incoming_packet <17>;incoming_packet <18>;incoming_packet <19>;incoming_packet <20>
ssources=<incoming_packet.*>
ssinks=payload_size <11>;outgoing_packet <12>
autosink-restrict=outgoing_packet <12>:220-227
#stop the server
sos=outgoing_packet <12>
