target=heartbleed/result/openssl
args=s_server -accept 8080 -cert ./heartbleed/cert.pem -key ./heartbleed/key.pem -pass pass:foobar
sops
p=compose
compose-p=autosource
autosource-source-stubs=tls1_process_heartbeat:bytes_to_buf(entry,gdb<(void*)s->s3->rrec.data>,gdb<s->s3->rrec.length>,pkt,controlled)
compose-c=symbolic
symbolic-cw=malloc;free;puts;printf;_IO_puts;<CRYPTO.*>;<RAND.*>
ssources=<pkt.*>
